* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.sec1 {
  background-color: black;
  height: 100vh;
}
.heading1 {
  font-family: "Square Peg", cursive;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  color: white;
}

.line {
  width: 70%;
}

.text1 {
  display: flex;
  width: auto;
  font-family: "Source Code Pro", monospace;
  font-size: .8rem;
  margin-top: 3rem;
  margin-left: 1rem; 
  margin-right: 1rem;
  text-align: left;
  color: white;
}
.signature {
  font-family: "Square Peg", cursive;
  font-size: 2rem;
  margin-left: 1rem;
  margin-top: 0;
  color: white;

  display: flex;

}

.img {
  display: flex;
  justify-content: center;
}
.arrow {
  position: relative;
  width: 4.5rem;
  height: 5rem;
}

@media screen and (min-width: 530px) {

  .heading1 {
    font-size: 3.5rem;
  }
  .text1 {
    justify-content: center;
    font-size: 1.2rem;
  }
  .signature {
    justify-content: center;
  }
}