html {
  scroll-behavior: smooth;
}
body {
    background-color: black;
    color: white;
}

section {
  position: relative;
  left: 50%;
  margin: 0;
  padding: 0;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 1;
  transition: 2s all ease;
  height: 110vh;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

#one {
  background-color: beige;
  z-index: 9999;
}

#two {
  background-color: blue;
  z-index: 9990;
}