/* html {
  scroll-behavior: smooth;
}
body {
    background-color: antiquewhite;
    color: black;
    padding: 0;
    margin: 0;
}

.rectangle {
  border: 2px solid black;
  width: 100vw;
  height: 10vh;
  transition: all 2s ease-in-out;

  display: grid;
  grid-template-columns: repeat(4, 20%);
  gap: 5px;
}

.rectangle:hover {
  height: 15vh;
}


.button {
  width: 20vw;
  height: 5vh;
  font-size: 2rem;
}
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;

  border: 3px solid white;
}

.arrow {
  height: 5rem;
  width: 5rem;
  margin-left: .5rem;
}

.button ul {
  display: flex;
}

.button button {
  background-color: transparent;
  border-radius: 1.56rem;
  border: 3px solid white;
  width: 9rem;
  height: 2rem;
  font-family: "Source Code Pro", monospace; 
  font-size: 1rem;
  color: white;
}