/* html {
  scroll-behavior: smooth;
}
body {
    background-color: antiquewhite;
    color: black;
    padding: 0;
    margin: 0;
}

.rectangle {
  border: 2px solid black;
  width: 100vw;
  height: 10vh;
  transition: all 2s ease-in-out;

  display: grid;
  grid-template-columns: repeat(4, 20%);
  gap: 5px;
}

.rectangle:hover {
  height: 15vh;
}


.button {
  width: 20vw;
  height: 5vh;
  font-size: 2rem;
}
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: flex-start;
  background-color: transparent;
  width: 100%;
  height: 10vh;
  transition: all 0.5s;
  filter: brightness(0.3);

  border: 2px solid white;
}

.navbar:hover {
  filter: brightness(1);
}
.arrow {
  position: relative;
  height: 5rem;
  width: 5rem;
  margin-left: 0.5rem;
}

.button ul {
  display: flex;
}

.button button {
  justify-content: space-around;
  background-color: transparent;
  border-radius: 1.56rem;
  border: 3px solid white;
  width: 11rem;
  height: 4rem;
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  color: white;
  margin: 1rem;
  transition: all 0.5s;
}

.button button:hover {
  background-color: transparent;
}
/*
.button button::before {
  content: "hallo";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  width: 100px;
  height: 100px;
  border-radius: 1.5625rem;
  background-size: 500%;
  z-index: -1;
  filter: blur(5px);
  animation: fade 10s linear infinite;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.button button:hover::before {
  opacity: 1;
} 


.btn1::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  width: 50%;
  height: 100px;
  border-radius: 1.5625rem;
  background-size: 500%;
  z-index: -1;
  filter: blur(5px);
  animation: fade 10s linear infinite;
  opacity: 1;
  transition: all 0.5s ease-in-out;

  position: relative;
}

.btn1:hover::before {
  opacity: 1;
} 


@keyframes fade {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400% 0;
  }
} */

#btn3 {
  width: 16rem;
}

#btn4 {
  width: 16rem;
}

/* text */

.bgText {
  font-family: "Source Code Pro", monospace;
  font-size: 6.25rem;
  color: white;
  filter: opacity(0.2);
  margin-left: 5rem;
}

.hey {
  font-family: "Source Code Pro", monospace;
  font-size: 4rem;
  letter-spacing: .2rem;
  color: white;
  margin-left: 5rem;
  
  

}

@media screen and (max-width: 1070px) {
  .grid {
    flex-wrap: wrap;
  }
  li {
    flex: 50%;
  }
}
