/* Section 3 */ 

/* standard sec 3 */ 

body {
  margin: auto;
  padding: 0;
}
.sec3 {
  background-color: #f8f1b1;
  height: auto; 
}

#heading {
  font-size: 4rem;
  font-weight: 1000;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.element {
  margin: auto;
  padding: 1rem;
  border: 2px solid black;
  position: relative;
  
  
}

.element::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}


.heading {
  font-size: 4rem;
  font-weight: 600;
  padding-bottom: 1rem;
  font-family: 'Helvetica';
  display: flex;
  justify-content: center;
  
}

.wrapper{
  display: flex;
}


.text {
  font-family: 'Source Code Pro';
  font-weight: 500;
  z-index: 1;
  text-align: justify;
}

.sec3Dank {
  font-size: 1.5rem;
  
}


/* Individuel */ 

/* Eunice */ 
.eunshiba {
  height: 4.5rem;
  border-radius: 50px;
}

/* Franzi */ 
.drunkenFranzi, .imgFranzi {
  display: none;
}


/* Greg */ 



/* Vi Minh */ 
.ViMi {
  font-size: 3rem;
}

/* Kathi und Nicki */
.kn {
  font-size: 2.5rem;
}


/* Mikka */ 


@media screen and (min-width: 530px) {
  .element {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(5%, auto);
    gap: 1rem;
  }

  .break {
    display: none;
  }

  /* Eunice */ 
  .eun {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 6rem;
  }
  .eunshiba {
    height: 8rem;
  }

  /* Franzi */ 
  .element2 {
    height: auto;
  }
  .wrapper {
    display: grid;
    
    

  }
  .drunkenFranzi {
    position: relative;
    top: 0;
    left: 0;
    display: inline;
    height: 15rem;
    border: 2px solid grey;
    
    
  }

  .imgFranzi {
    z-index: 10;
    display: inline-block;
    border: 2px solid grey;
    height: 17rem;
    position: absolute;
    bottom: 0;
    right: 0;
    
  }
  
}