#body {
  margin: 0;
  padding: 0;
  background-color: beige;
  font-size: 2rem;
}



#leftPart {
  background-color: white;
  border: 5px solid black;
  width: 5rem;
  height: 1.5rem;
  display: block;
  transform: rotate(35deg);
  border-radius: 20px;
}

#rightPart {
  background-color: cornflowerblue;
  border: 5px solid black;
  width: 5rem;
  height: 1.5rem;
  display: block;
  transform: rotate(-35deg);
  border-radius: 20px;
}

#more {display: none;}

#dots {
  display: none;
}

#more2 {
  display: none;
}

#mybtn {
  margin-top: 5rem;
  display: block;
  border: solid;
  background-color: transparent;
}

#mybtn2 {
  margin-top: 5rem;
  display: block;
  border: solid;
  background-color: transparent;
  animation-name: rotate;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100%{transform: rotate(90deg);}
}

#test {
  display: inline;
}