body {
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    display: none;
}
section {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;

}
.blue {
    background-color: #422CD0; 
}
.orange {
    background-color: #FEBB4C;
}


/* title section */
.title {
    font-size: clamp(4rem, 6rem, 8rem);
    position: absolute;
    top: 1%;
    left: 5%;
    z-index: 1;  
}

.titleSection {
    background: linear-gradient(135deg, #141e30, #243b55);
    height: 110vh;
}

.titlewave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.titlewave svg {
    position: relative;
    display: block;
    width: calc(252% + 1.3px);
    height: 200px;
    transform: rotateY(180deg);
}

.titlewave .shape-fill {
    fill: #FF5733;
}

.text1 {
    font-size: 25px;
    width: 650px;
    height: 600px;
    position: absolute;
    top: 20%;
    left: 60%;  
}

.text1::before {
    content: '';
    position: absolute;
    top: -4%;
    left: -4%;
    width: 110%;
    height: 90%;
    background-color: black;
    opacity: .1;  
}
.text1::after {
    content: '';
    position: absolute;
    top: -6%;
    left: -2%;
    width: 110%;
    height: 90%;
    background-color: black;
    opacity: .1;  
}

.me {
    position: absolute;
    top: -150px;
    left: 10%;
    width: 675px;
    height: 900px;

}

.meBack {
    
}
/* section1 */

.red {
    background-color: #FF5733;
    
}
/* color gradient für Übergang */


/* Section 2 */
.title2 {
    font-size: 100px;
    text-align: center;
    position: absolute;
    
} 


